:root {
    --couleur1: #f2c57c;
    --couleur2: #ddae7e;
    --couleur3: #7fb865;
    --couleur4: #426a5a;
    --couleur5: #ef6f6c;
    --couleur6: #000000;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    line-height: 1.5;
    background-color: var(--couleur4);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--main-text);
    color: var(--couleur4);
    font-size: 2rem;
    margin-left: 1rem;

}

header {
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 6rem;
    width: 100%;
}

.logo {
    width: 5rem;
    margin-right: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    position: relative;
    background-image: url("/img/map/quartier jour.png");
    background-size: cover;
    transform: scale(80%);
}

#map-svg {
    width: 900px;
    max-width: 100%;
    height: 100%;

}

.pin {
    transition: opacity 1000ms ease-in-out;
}

.hidden {
    opacity: 0.5;
}


/*quiz*/
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--couleur1);
    border-radius: 1rem;
    border: 3px solid black;
    width: 90%;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    margin: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

/*navbar*/
nav {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}

.nav-item {
    color: #83818c;
    font-family: arial, sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: #dfe2ea;
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}

.nav-item:not(.is-active):hover:before {
    bottom: 0;
}
.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}