:root {
    --couleur1: #f2c57c;
    --couleur2: #ddae7e;
    --couleur3: #7fb865;
    --couleur4: #426a5a;
    --couleur5: #ef6f6c;
    --couleur6: #000000;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    line-height: 1.5;
    background-color: var(--couleur4);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--main-text);
    color: var(--couleur4);
    font-size: 2rem;
    margin-left: 1rem;
}

header {
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 6rem;
    width: 100%;
}

.logo {
    width: 5rem;
    margin-right: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    position: relative;
    background-image: url("img/map/quartier jour.png");
    background-size: cover;
    transform: scale(80%);
}

#map-svg {
    width: 900px;
    max-width: 100%;
    height: 100%;

}

.pin {
    transition: opacity 1000ms ease-in-out;
}

.hidden {
    opacity: 0.5;
}


/*quiz*/
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--couleur1);
    border-radius: 1rem;
    border: 3px solid black;
    width: 90%;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 1rem 2rem;
    background-color: var(--second-color-head-text);
    font-family: var(--secondary-text);
    color: white;
    border: 3px solid black;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

/*navbar*/
nav {
    background-color: var(--couleur1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.nav-item {
    color: #83818c;
    font-family: var(--main-text);
    padding: 1rem;
    margin: 0 6px;
    position: relative;
}

footer>nav>a {
    text-decoration: none;
    color: var(--couleur6);
}

footer>nav>a:hover {
    text-decoration: none;
    color: var(--couleur6);
    transform: scale(120%);
    cursor: pointer;
}


