:root {
    --couleur1: #f2c57c;
    --couleur2: #ddae7e;
    --couleur3: #7fb865;
    --couleur4: #426a5a;
    --couleur5: #ef6f6c;
    --couleur6: #000000;
    --couleur7: #757575;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
}

body {
    background-color: var(--couleur3);
    margin: 0;
}

* {
    box-sizing: border-box;
}


header {
    background-color: var(--main-color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 5rem;
    width: 100%;
}




h1 {
    font-family: var(--main-text);
    color: var(--second-color-head-text);
    font-size: 1rem;
    margin-left: 1rem;

}


.logo {
    width: 5rem;
    margin-right: 2rem;
}



/*main {
    display: flex;
    flex-direction: column;




    margin: 3%;
    background-color: var(--main-color-box);

    border-radius: 1rem;

    border: 1px solid black;
    padding: 1rem 1rem 17vh 1rem;
}*/

main {
    display: flex;
    margin: 3%;
    background-color: var(--main-color-box);
    border-radius: 1rem;
    border: 1px solid black;
    padding: 1rem 1rem 17vh 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: 1rem;
    font-family: var(--main-text);
    color: var(--couleur4);
    display: flex;
    justify-content: center;
}

/* Form part */

form {
    text-align: center;
    height: 80%;
}

form input {
    width: 98%;
    height: 8vw;
    border: 1px;
    border-radius: 1rem;
}

form textarea {
    width: 98%;
    height: 16vw;
    border: 1px;
    border-radius: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    list-style-type: none;
    padding-left: 0%;
    margin-top: 5vw;
}

/*image*/

#img_contact {
    max-width: 100%;
    height: auto;
}

/* button */


.bouton-envoi {
    display: flex;
    background-color: var(--couleur4);
    font-family: var(--secondary-text);
    color: white;
    border: 1px solid black;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
    transition: all 200ms ease-in-out;
}

.bouton-envoi:hover {
    transform: scale(1.1);
    background-color: var(--couleur5);
    cursor: pointer;

}

/*navbar*/

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--couleur1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px 0;
}

.nav-item {
    color: #67656d;
    font-family: var(--main-text);
    padding: 1rem;
    margin: 0 6px;
    position: relative;
}

footer>nav>a {
    text-decoration: none;
    color: var(--couleur6);
}

footer>nav>a:hover {
    text-decoration: none;
    color: var(--couleur6);
    transform: scale(130%);
    cursor: pointer;
}


@media screen and (min-width: 500px) {


    main {
        display: flex;
        flex-direction: row;

        /*background-color: var(--main-color-box);
        border: 1px;
        border-radius: 2rem;
        
        margin-top: 10vw;*/


        margin: 3%;
        background-color: var(--main-color-box);

        border-radius: 1rem;

        border: 1px solid black;
        padding: 1rem 1rem 17vh 1rem;
    }

    form {
        text-align: center;
        height: 5rem;
    }

    #img_contact {
        max-width: 50%;
        height: auto;
    }

}