:root {
    --couleur1: #f2c57c;
    --couleur2: #ddae7e;
    --couleur3: #7fb865;
    --couleur4: #426a5a;
    --couleur5: #ef6f6c;
    --couleur6: #000000;
    --couleur7: #757575;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
}



header {
    background-color: var(--main-color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 5rem;
    width: 100%;
}


body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--main-text);
    color: var(--second-color-head-text);
    font-size: 1rem;
    margin-left: 1rem;

}


.logo {
    width: 5rem;
    margin-right: 2rem;
}



main {
    /* display: flex;
    flex-direction: column;
    
    background-color: var(--main-color-box);
    border: 1px;
    border-radius: 2rem;
    
    margin-top: 10vw;*/

    height: 150vw;
    margin: 3%;
    background-color: var(--main-color-box);
    width: 90%;
    height: 30%;
    border-radius: 1rem;
    padding-left: 2rem;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;

}

h2 {
    font-size: 2.5em;
    color: var(--second-color-head-text);
    display: flex;
    justify-content: center;
}

/* Form part */

form {
    text-align: center;
    height: 100vw;
}

form input {
    width: 98%;
    height: 10vw;
    border: 1px;
    border-radius: 1rem;
}

form textarea {
    width: 98%;
    height: 20vw;
    border: 1px;
    border-radius: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    list-style-type: none;
    padding-left: 0%;
    margin-top: 5vw;
}

#button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

button {
    width: 4rem;
    height: 3rem;
    background-color: var(--couleur4);
    font-family: var(--secondary-text);
    color: white;
    border: 1px solid black;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

/*navbar*/

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--couleur1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px 0;
}

.nav-item {
    color: #83818c;
    font-family: var(--main-text);
    padding: 1rem;
    margin: 0 6px;
    position: relative;
}

footer>nav>a {
    text-decoration: none;
    color: var(--couleur6);
}

footer>nav>a:hover {
    text-decoration: none;
    color: var(--couleur6);
    transform: scale(130%);
    cursor: pointer;
}


@media only screen and (min-width: 550px) {

    /* body {}

    header {
        height: 6rem;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    } */
}