:root {
    --couleur1: #f2c57c;
    --couleur2: #ddae7e;
    --couleur3: #7fb865;
    --couleur4: #426a5a;
    --couleur5: #ef6f6c;
    --couleur6: #000000;
    --couleur7: #757575;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
}

/*:root {
    --main-color-box: #f2c57c;
    --second-color-head-text: #426a5a;
    --background-color: #7fb865;
    --highlight-color: #ef6f6c;
    --couleur6: #000000;
    --main-text: "Roboto";
    --secondary-text: "Raleway";
}*/

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: var(--couleur3);
    ;
}

h1 {
    font-family: var(--main-text);
    color: var(--couleur4);
    font-size: 1rem;
    margin-left: 1rem;
}

header {
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 5rem;
    width: 100%;
}

.logo {
    width: 5rem;
    margin-right: 2rem;
}

h2 {
    text-align: center;
    font-family: var(--main-text);
    color: var(--couleur4);
    font-size: x-large;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    border-radius: 1rem;
    padding: 20px 50px 20px 50px;
    /* border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
}


p {
    text-align: center;
    font-family: var(--secondary-text);
    color: var(--couleur4);
    font-size: large;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;*/
    border-radius: 1rem;
    padding: 5px 15px 5px 15px;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/

}



/* div {

    background-color: var(--main-color-box);

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
} */

.text-div {

    background-color: var(--couleur1);
    width: 90%;
    height: 30%;
    border-radius: 1rem;
    padding-left: 2rem;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
}

/* .button-div {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-color: black 5px;

} */

.lancez-button {
    /* display: flex; */
    padding: 1rem 2rem;
    background-color: var(--couleur4);
    font-family: var(--secondary-text);
    color: white;
    border: 1px solid black;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
    transition: all 200ms ease-in-out;

}

@media only screen and (min-width: 550px) {


    .lancez-button:hover {
        transform: scale(1.1);
        background-color: var(--couleur5);
        cursor: pointer;

    }
}





.main-body {
    /* margin: 0; */
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur3);
    gap: 4rem;
    /* padding: 100px 15px 100px 15px; */


}

@media only screen and (min-width: 550px) {
    .main-body {
        gap: 6rem;
        padding: 100px 15px 100px 15px;

    }
}

.main-text {
    background-color: var(--couleur1);
    width: 90%;
    height: 30%;
    border-radius: 1rem;
    padding-left: 2rem;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/


}

.main-body>div {
    max-width: 720px;
}

/* .white-box-one {
    width: 50%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
} */
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--couleur1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    padding: 10px 0;
}




.nav-item {
    color: #67656d;
    font-family: var(--main-text);
    padding: 1rem;
    margin: 0 6px;
    position: relative;
}

footer>nav>a {
    text-decoration: none;
    color: var(--couleur6);
}

footer>nav>a:hover {
    text-decoration: none;
    color: var(--couleur6);
    transform: scale(120%);
    cursor: pointer;
}