.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background-color: rgba(182, 182, 182, 0.48);
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #888;
  float: right;
  font-size: 60px;
  cursor: pointer;
}

.close:hover {
  color: #ffffff;
}

.modal-btn, .modal-btn2 {
  background-color: transparent;
  border: transparent;
  position: relative;
  padding: 10px 14px;
  font-size: 18px;
  margin: 5px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
  color: #34ff00;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  z-index: auto;
}

.modal-btn:hover, .modalien:hover, .modal-btn2:hover {
    color: #050f1a;
    background: #3c911b;
    border-radius: 3px;
    box-shadow: 0 0 10px #2a6b04, 0 0 40px #46913e, 0 0 80px #45e704;
    transition-delay: 200ms;
}

 .modalien {
  background-color: transparent;
  border: transparent;
  position: relative;
  padding: 10px 14px;
  font-size: 18px;
  margin: 20px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  z-index: auto;
}


