/*
ici le css spécifique au systheme de modal
 */

.modal, #modal1, #modal2, #modal3, #modal4 {
  position: fixed;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
  display: none;
}

.modal-content {
  background-color: #919191;
  padding: 20px;
  border-radius: 5px;
}

.modal-btn{
  background-color: transparent;
  border: transparent;
  position: relative;
  padding: 10px 14px;
  font-size: 18px;
  margin: 5px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
  color: #34ff00;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  z-index: auto;
}

.modal-btn:hover{
    color: #050f1a;
    background: #3c911b;
    border-radius: 3px;
    box-shadow: 0 0 10px #2a6b04, 0 0 40px #46913e, 0 0 80px #45e704;
    transition-delay: 200ms;
}





