*{
  box-sizing: border-box;
}

:root{
  --light-green: #7fb865;
  --dark-green: #426a5a;
  --beige: #f2c57c;
  --red: #ef6f6c;
  --main-color-box: #f2c57c;
  --second-color-head-text: #426a5a;
  --main-text: "Roboto";
  --secondary-text: "Raleway";
}

body{
  margin: 0;
  line-height: 1.5;
  background-color: var(--light-green);
}

h1 {
  font-family: var(--main-text);
  color: var(--dark-green);
  font-size: 1rem;
  margin-left: 1rem;
}

header {
  background-color: var(--beige);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem 1rem;
}

.logo {
  width: 10%;
}

main h1{
  background: 2px solid #000;
  width: 80%;
  border-radius: 10px;
  background-color: #f2c57c;
  text-align: center;
  /*font-size: 1.5rem;
  text-align: center;*/
}

.badge{
  border: 2px solid #000000;
  border-radius: 50%;
  width: 20%;
  height: 10%;
  background-color: #f2c57c;
  margin: 1rem;
  padding: 5px;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  /*width: 20%;
   margin: 1rem;
   padding: 5px;*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding-bottom: 5rem;
  position: fixed;
  z-index: 1;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  border: 1px solid black;
  border-radius: 1rem;
  }
/*
.description {
  width: 70%;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  }
  */
  .description {
    background-color: #426a5a;
    background: 2px solid #000;
    border-radius: 5%;
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    opacity: 0.7;
  }
  
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--beige);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-top: 1px solid black;
  padding: 10px 0;
}

.nav-item {
  color: #83818c;
  font-family: var(--main-text);
  padding: 1rem;
  margin: 0 6px;
  position: relative;
}

footer>nav>a {
  text-decoration: none;
  color: black;
}

footer>nav>a:hover {
  text-decoration: none;
  color: black;
  transform: scale(120%);
  cursor: pointer;
}
