:root{
  color: #404040;
}

body{
  background-color: rgba(210, 152, 27, 0.3);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
body>p{
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}


#question1, #question2, #question3, #question4 {
  display: flex;
  width: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.choice {
  display: block;
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

#result1, #result2, #result3, #result4 {
  margin-top: 20px;
  font-weight: bold;
}

